body {
    text-align: center;
    font-family: sans-serif;
    background-color: aliceblue;
    color: aliceblue;
}

.main {
    width: 25%;
    margin: 10% auto;
    background-color: #4d5dbd;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1 {
    font-weight: normal;
    margin: 0;
}

p {
    font-size: 18px;
}

button {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 4px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    background-color: #6f7fdf;
    color: inherit;
}

button:hover {
    background-color: #8f9fff;
}

.content {
    padding: 8%;
}

.new {
    width: 94%;
}

.hint {
    background-color: #2b3b9b;
    width: 100%;
    padding: 5% 0;
    margin: 0;
    border-bottom-right-radius: 20px;
}

.attempts {
    background-color: #3c4cac;
    width: 100%;
    padding: 5% 0;
    margin: 0;
}

hr {
    width: 100%;
    margin: 10% auto;
    border: 1px #9fafff solid;
}
